<div class="row">
  <h1>404 Debt Not Found</h1>
  <h2>Text (510) 404-3328 "@Debtor @Debtee $Amount"</h2>
</div>

<table class="table">
  <% for b in @balances %>
  <tr>
    <td><%= link_to(b.name, edit_balance_path(b.id)) %> owes me <%= link_to(b.amount, edit_balance_path(b.id)) %></td>
    <td><%= link_to "Delete", balance_path(b), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
</table>

<div class="col-md-3">
  <%= button_to "Create new", new_balance_path, class: "btn btn-success btn-block", method: "get"%>
</div>
