<div class="page-header">
  <h1>404 Debt Not Found <small>Name and shame your friends who owe you money!</small></h1>
</div>
<div class="jumbotron">
  <p class="lead">Text <a href="tel:5104043328">(510)404-3328</a> Your twitter handle, your friend's, and the amount your deadbeat friend owes you!</p>
  <p>Examples include:</p>
  <ul class="list-unstyled">
    <li> @speaktochris, @yukihiro_matz, $50</li>
    <li> @DHH #_why -$.25 </li>
    <li> @SwiftOnSecurity owes @PHP_CEO $-3.8 </li>
  </ul>
</div>


<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <div class="text-center">
      <div class="table-responsive table-bordered">
        <table class="table">
          <% for b in @balances %>
          <tr>
            <td class="col-xs-6 col-md-4"><%= link_to(b.debtor, "https://www.twitter.com/#{b.debtor}") %> owes <%= link_to(b.debtee || "@speaktochris", "https://www.twitter.com/#{b.debtee || '@speaktochris'}") %> <%= number_to_currency(b.amount) %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-3"></div>
</div>
